@model IEnumerable<BazaPoklona.Models.Poklon>

@{
    ViewData["Title"] = "Index";
}

<h1>Shopping lista</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kupljen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrstaRobeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if (item.Kupljen == false)
    {


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @*  @Html.DisplayFor(modelItem => item.Kupljen) *@
                <form asp-controller="Poklons" asp-action="Kupljen" method="post">
                    <input type="checkbox" name="id" value="@item.IdPoklon" onchange="this.form.submit()" />
                </form>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrstaRobeNavigation.Naziv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPoklon">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPoklon">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPoklon">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
