@model BazaPoklona.Models.Root

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vrijeme</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.visibility)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.coord.lat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.coord.lon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.weather[0].description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.sys.country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.@base)
        </dd>
    </dl>
</div>

